html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #bff;
    font-family: verdana;
}

header {
    background-color: #6aa;
    padding: 0 1em;
}

menu {
    flex: 1;
    font-size: 20px;

    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: space-around;
}

main {
    flex: 1;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

th, td {
    border: 1px solid;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f55;
}

td {
    background-color: white;
}

footer {
    background-color: #6aa;
    padding: 1em;
}